* {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  background-image: url('../imagenesfondo/fondo1.jpg');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 98,95%; /* 1900px / 1920 */
  padding: 1.04%; /* 20px / 1900px */
  height: fit-content;
  display: flex;
  gap: 5.26%; /* 100px / 1900px */
}

h1 {
  width: 100%;
  color: crimson;
  font-size: 3em;
  text-align: center;
  margin-bottom: 5.2%; /* 100px / 1920px */
}

#logo {
  flex: 1 0 300px; /* 300px / 1900 px*/
  background-image: url('../imagenesfondo/logo_jgns_es-682931045.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px; 
}

.boton {
  flex: 0 2 350px; /* 350px / 1900px */
  padding: 0.526%; /* 10px / 1900px */
  background-color: white;
  color: black;
  border-radius: 0.26%; /* 5px / 1900px */
  cursor: pointer;
  text-align: center;
}

.container {
  margin-top: 5.2%; /* 100px / 1920px */
}

footer {
  width: 100%; 
  color: black;
  position: fixed;
  bottom: 0; 
  text-align: center; /* Centra el texto */
  font-style: italic;
  font-size: 1em; /* Tamaño de fuente base */
  padding: 0.52% 0; 
}
