*{
  font-family: monospace;
  margin:0;

}
html{
  width: 1920px;
   background-image:url('../imagenesfondo/fondo1.jpg');
   overflow: hidden;
}
body{
  width: 1920px;
  height: 1080px;
}

header{
  width: 1880px;
  padding: 20px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
h1{
  color:crimson;
  font-size: 3em;
}

#logo {
  width: 200px;
  background-image: url('../imagenesfondo/escuela-virgen-de-guadalupe-badajoz.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
}
.boton{
  width: 150px;
  flex-shrink: 1;
  height: fit-content;
  background-color: white; 
  color: black; 
  border-radius: 5px; 
  cursor: pointer; 

}

.container{
  max-width: 1920px;
  height: 700px;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.info h3 {
  font-size: 1.5em;
  color: black;
  margin-bottom: 10px;
}

.info ul {
  list-style-type: square; /* Cambia el estilo de las viñetas */
  
  
}

.info ul ul {
  list-style-type: circle; /* Cambia el estilo de las viñetas en las listas anidadas */
}

.info li {
  margin-bottom: 100px; /* Añade espacio entre los elementos */
  color: black;
  font-size: 1em;
}

.info ul li ul li {
  margin-bottom: 5px; /* Un poco menos de espacio en los subelementos */
  
}


.info {
  margin: 5% 2%;
  width: 30%; 
  float: left; /* Mueve la info a la derecha */
  text-align: left;
}

.recurso_imagen_inicio {
  background-image: url('../imagenesfondo/barcohundido.jpg');
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat; 
  margin: 5% 10%;
  width: 400px; /* Ajusta el ancho */
  height: 400px; 
  float: left;
  border: 1px solid black;
  padding: 10px; /* Añade padding para espacio interno */
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3); /* Añade una sombra */
}
.stats {
/* Estilo específico para la tabla stats */
  background-color: whitesmoke;
  border-collapse: collapse; 
  width: 50%;
margin: 2% 25%;
}

.stats td{
  padding: 3%; /* Solo se aplica a las celdas de la tabla stats */
  border: 1px solid black; 
}

caption{
  margin: 5%;
}
.desastres{
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
}


footer {
      color: black; 
      margin-top: 50px;
      text-align: center; /* Centra el texto */
      padding: 10px;
      font-size: 10px; /* Tamaño de fuente más pequeño */
      width: 1920px; /* Ocupa todo el ancho */
      font-style: italic;
}


